@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

header{
    font-family:"Oswald";
    background: #c4b3e5;
    border-radius: 30px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    max-width: 1200px;
    margin: 0 auto;  
}

.logo-texto h1{
    text-align: center;
    flex-grow: 1;
    font-size: 40px;
}


nav{
    gap: 40px;
    display: flex;
}


nav a {
    text-decoration: none;
    font-family:"Oswald" ;
    justify-content: center;
    color: #9d4edd;
}

nav a:hover{
    color: #3c096c;
}



.img-logo {
    width: 150px; 
    height: 150px; 
    object-fit: contain;
    border-radius: 20px;
}

body{
    background: #e7e0f5;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#post-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.post {
    font-family: "Oswald";
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.comment {
    background: #f4f4f4;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 14px;
    
}

.comment-link {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold; 
    cursor: pointer; 
}

::-webkit-scrollbar-thumb {
    background-color: #A55EFF;
    border-radius: 10px;
    height: 150px;
}


::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px; 

}

footer{
    font-family: "Oswald";
    background: #C39EFF;
    border-radius: 30px;
    height: 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

